:root {
  --bg-color: #edeef9;
  --bg-color-app: #fffeff;
  --hover-todo-bg-color: rgb(238 242 255);
  --hover-color-todo: rgb(167 139 250);
  --primary-color: rgb(99 102 241);
  --secondary-color: #c7c7c9;
  --border-color: rgb(196 181 253);
  --button-color: rgb(99 102 241);
  --hover-button-color: rgb(79 70 229);
}