.TodoApp {}

.task {
  cursor: pointer;

  &:hover {
    background-color: aqua;
  }
}

.subTask {
  padding-left: 10px;
  cursor: pointer;

  &:hover {
    background-color: aqua;
  }
}

.todoInfo {
  display: flex;
  gap: 50px;
}

.input {
  display: grid;
}