.todoApp {
  display: flex;
  color: #c7c7c9;
  padding: 20px;
  border-radius: 10px;
  background-color: #fffeff;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.todoList {
  padding-right: 20px;
  border-right: 1px solid;
}

.todoItem {
  width: 170px;
  padding-bottom: 15px;
}

.todoName {
  border-radius: 5px;
  position: relative;
  padding: 6px;

  &:hover {
    background-color: rgb(238 242 255);
    color: rgb(167 139 250);
  }

  span {
    padding-right: 20px;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-right: 5px;

    &:hover {
      color: gray;
    }
  }

  input {
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 9px;
  }
}

.plusBtn {
  padding: 4px 5px 4px 5px;
  border-radius: 100%;
  background-color: rgb(99 102 241);
  border: none;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  filter: drop-shadow(0 5px 4px rgb(26 139 255 / 0.07)) drop-shadow(0 3px 3px rgb(26 139 255 / 0.06));
  transition: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;

  &:hover {
    background-color: rgb(79 70 229);

  }
}

.plus {
  padding-top: 3px;
}

.todoInfo {
  padding-left: 20px;
  width: 190px;
  color: black;

  h3 {
    padding-bottom: 15px;
  }
}

.forms {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.modalForm {
  display: grid;
}

.addSubTodo {
  padding-left: 20px;
  border: none;
  background: none;
  padding-top: 10px;
  font-size: 16px;
  color: #c7c7c9;
  cursor: pointer;

  &:hover {
    color: rgb(167 139 250);
  }
}

.inputModal {
  padding-left: 2px;
  padding-bottom: 3px;
  border: none;
  border-bottom: 2px solid rgb(196 181 253);
  font-size: 16px;
  outline: none;
  margin-bottom: 20px;
}

.textareModal {
  padding-left: 2px;
  outline: none;
  border-color: rgb(196 181 253);
  font-size: 16px;
}

.addTodoBtn {
  padding-top: 20px;

  button {
    font-size: 16px;
    border: none;
    background-color: rgb(99 102 241);
    padding: 12px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all;
    transition-duration: 300ms;

    &:hover {
      background-color: rgb(79 70 229);
    }
  }
}